<div class="container" [id]="card.id">
  <div class="inner-container">
    <div class="img-container">
      <img [src]="card.imageSrc" alt="" />
    </div>
    <div class="text-container">
      <div>
        <h4>{{card.title}}</h4>
        <p>
          {{card.distancePreview}} from the city centre
        </p>
      </div>
      <div>
        <div class="price">£{{card.price}}
        </div>
        <p>Designs may vary.</p>
      </div>
    </div>
  </div>
  <button class="book">book</button>
</div>
