/* You can add global styles to this file, and also import other style files */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
border:none;
font-family: Montserrat,sans-serif;

}

@media (min-width: 401px) { // swiper breaks above 400px
 .swiper {
        .selected {
            .container {
                box-shadow: inset 0 0 10px 3px #b16101;
            }
        }
    }
}
